<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733275854742-ug8aq40d52v3s4dih2s799m7qng57spg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733275854742-ug8aq40d52v3s4dih2s799m7qng57spg</string>
	<key>API_KEY</key>
	<string>AIzaSyD3_x76M61G0xolSo8NGdnbuo8QL78-GIs</string>
	<key>GCM_SENDER_ID</key>
	<string>733275854742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amazonPrime</string>
	<key>PROJECT_ID</key>
	<string>innofire-ccce6</string>
	<key>STORAGE_BUCKET</key>
	<string>innofire-ccce6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733275854742:ios:343a72426a5d2f9c652fb7</string>
</dict>
</plist>